.SignIn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignIn .main-content {
  margin-bottom: 20rem;
}

.SignIn button {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    font-family: 'helvetica neue', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.SignIn button + button {
  margin-top: 1rem;
}

.SignIn .icon {
  margin-right: 1.5rem;
  font-size: 24px;
  width: 2rem;
}

.SignIn .google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.SignIn .google:hover {
   background-color: #c23321;
}

.SignIn .facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.SignIn .facebook:hover {
  background-color: #2d4373;
}

.SignIn .github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

.SignIn .github:hover {
  background-color: #2b2b2b;
}

.SignIn .title {
  color: #008BF8;
  font-family: "Fauna One";
  font-size: 4rem;
}

.SignIn .title img {
  color: #666;
  width: 4rem;
  height: 4rem;
  padding-left: 4px;
  padding-right: 4px;
}